    :root{
        --cor-principal: white;
        --cor-segundaria: grey;
        --cor-botao: rgb(241, 8, 98);
        --cor-fundo: black;
    }
    body{
        background-color: black;
    }